{extend name="public/public"}

{block name="content"}

<!-- 导航面包屑 -->

<div class="layui-container write">
    <div class="layui-row">
        <div class="layui-col-md6">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password_j" maxlength="32" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">6 - 16 位的密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" maxlength="32" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">6 - 16 位的密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password_rm" maxlength="32" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">6 - 16 位的密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">滑动验证</label>
                    <div class="layui-input-block" style="width: 300px;">
                        <div id="slider"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{/block}

{block name="script"}
<script>

    layui.use(['form', 'jquery', 'sliderVerify', 'notice'], function(){
        var form = layui.form, sliderVerify = layui.sliderVerify,$ = layui.jquery,notice = layui.notice;

        var slider = sliderVerify.render({
            elem: '#slider',
            isAutoVerify:true,
        });


        form.on('submit(formDemo)', function (data) {
            let load = custom.loading();
            $.ajax({
                url: '{:url("passwordEdit")}'
                , type: 'post'
                ,headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
                , data: data.field
                , success:function (res) {
                    layer.close(load);
                    if (res.code === 200) {
                        layNotice.success('成功');
                    }else{
                        notice.warning(res.msg);
                    }
                    slider.reset();
                },
                error:function (err) {
                    layer.close(load);
                    console.log(err);
                }
            });

            return false;
        })
    });

</script>
{/block}